.sub{
  background-color: #00b074;
  border: none;
  padding: 10px 16px;
  border-radius: 3px;
  margin-bottom: 5px;
}
.next{
  border: #00b074 solid 1px;
  padding: 5px 20px;
  border-radius: 3px;
}
.design{
  border-left: solid 2px gainsboro;
  margin-top: 30px;
}
a{
  text-decoration: none;
  color: #00b074;
}
