<div class="container my-5 ">
  <div class="row firstRow">
    <div class="col-1">
      <img [src]="'https://localhost:7273/' + Technical.photo" alt="Technical Image"
        class="img-fluid rounded-circle">
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-11">
          <h4 class="mt-3">{{Technical.name}}</h4>
        </div>
        <div class="col-1">
        </div>
      </div>
      <div class="row">
        <div class="col-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
            viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
          </svg>
        </div>
        <div class="col-11">
          <p class="text-muted">{{Technical.address}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
            <path
              d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765l-6-3.2ZM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516ZM0 13.373l5.693-3.163L0 6.873v6.5Z" />
          </svg>
        </div>
        <div class="col-11">
          <p class="text-muted">{{Technical.eamil}}</p>
        </div>

      </div>
      <div class="row">
        <div class="col-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
          </svg>
        </div>
        <div class="col-11">
          <p class="text-muted">{{Technical.phone}}</p>
        </div>
      </div>

      <!-- Rate -->
      <div class="row">
        <ul>
          <li *ngFor="let star of Stars" style="display: inline-block; margin: 2px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-star-fill"
              viewBox="0 0 16 16">
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
          </li>

          <li *ngFor="let star2 of RemainingStars" style="display: inline-block;margin: 2px">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor"
              class="bi bi-star-fill" viewBox="0 0 16 16">
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
          </li>
        </ul>

      </div>
    </div>
    <div class="col-5">
      <div class="d-flex w-75">
        <button *ngIf="myProfile" class="btn btn-secondary rounded-3 m-1" routerLink="/UpdateTechnicalProfile">Update Profile</button>
        <button *ngIf="myProfile" class="btn btn-primary rounded-3 m-1">Profile Settings</button>
        <!-- Button trigger modal -->
<button *ngIf="!myProfile" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#Review">
Add Review
</button>
<button *ngIf="!myProfile"   class="btn btn-danger ms-3" data-bs-toggle="modal" data-bs-target="#block"  >Block</button>
      </div>
    </div>
  </div>

  <!-- Brief -->
  <div class="row">
    <h4 class="rowTitle">Brief</h4>
    <p>{{Technical.brief}}</p>
  </div>

  <!-- Sections -->
  <div class="row border-bottom-0">
    <h4 class="rowTitle">Sections</h4>
    <div class="d-flex flex flex-wrap">
      <div class="oneSection m-1" *ngFor="let section of Technical.sections">
        {{section.name}}
      </div>
    </div>

  </div>
</div>

<!-- Reviews -->
<div class="container">
  <div class="row border-bottom-0 ">
    <h4 class="rowTitle">Reviews</h4>
    <div class="review m-1" *ngFor="let review of Technical.reviews">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
        <div class=" ms-2">


          <img *ngIf="review.customer_Info.photo !=null"
            [src]="'https://localhost:'+PortNumber+'/' + review.customer_Info.photo" alt="Customer Image"
            class="img-fluid rounded-circle " width="40px" height="40px">
          <img *ngIf="review.customer_Info.photo === null" src= "https://localhost:7273/avatar.jpg" alt="Customer Image"
            class="img-fluid rounded-circle " width="40px" height="40px">

        </div>

        <!-- <div class="col-1" *ngif="review.customer_Info.photo === null">
                  <img src="assets/Images/nophoto.svg"  alt="Customer Image" class="img-fluid rounded-circle w-50">
              </div> -->

        <div class="ms-2 mt-2">
          <p class=" text-dark">{{review.customer_Info.name}}</p>
        </div>
      </div>
        <div class="col-1">

          <button *ngIf="myProfile" class="btn btn-danger" (click)="openModal(content,review.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
              <path
                d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
            </svg>
          </button>
        </div>
      </div>

      <!-- Problem Title
          <div class="row">
              <p class="problemTiltle ms-4">{{Prolem Title}}</p>
          </div>
          Given Rate
          <div class="row">
              <p class="ms-4">RATE</p>
          </div> -->
      <!-- Review Description -->
      <div class="row">
        <p class="m-4 fs-5 text-secondary">{{review.description}}</p>
      </div>

      <div class="row">
        <pre class="card-text mt-1" style="color: gray;"> {{ formatDateTime(review.date) }}</pre>
      </div>
    </div>


  </div>
</div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Report</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <form>
      <div class="form-group">
        <label for="causeSelect" style="font-weight: 500;">Cause</label>
        <select class="form-control" id="causeSelect" name="cause">
          <option value="" selected disabled>Choose the Cause of report</option>
          <option value="Harassment_or_bullying">Harassment or Bullying</option>
          <option value="Hate_speech_or_discrimination">Hate Speech or Discrimination</option>
          <option value="Inappropriate_content">Inappropriate Content</option>
          <option value="Impersonation_or_fake_accounts">Impersonation or Fake Accounts</option>
          <option value="Spam_or_unwanted_review">Spam or Unwanted Review</option>
        </select>
      </div>
      <div class="form-group">
        <label for="descriptionTextarea" style="font-weight: 500;">Description</label>
        <textarea class="form-control" id="descriptionTextarea" name="description" rows="3"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button data-bs-dismiss="modal" type="button" class="btn btn-success"  (click)="save()">Save</button>
    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
  </div>
</ng-template>





<!-- Modal2 -->
<div class="modal fade" id="Review" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">write review</h5>
        <button  type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">

        <input [(ngModel)]="message" type="text" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendReviwe()">Send </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="block" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Are You Sure That You Want To Block This Technican?
      </div>
<div *ngIf="BlockedDone" class="alert alert-danger">
  <p>Blocked successfully</p>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button *ngIf="!BlockedDone" type="button" class="btn btn-primary" (click)="blockTech()">Yes</button>
      </div>
    </div>
  </div>
</div>
